@font-face {
	font-family: 'relicario';
	src:url('fonts/relicario.eot');
	src:url('fonts/relicario.eot?#iefix') format('embedded-opentype'),
		url('fonts/relicario.ttf') format('truetype'),
		url('fonts/relicario.woff') format('woff'),
		url('fonts/relicario.svg#relicario') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'relicario';
	speak: none;
	font-size: 10em;
	color: $orange;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-monitor:before {
	content: "\e602";
}
.icon-video:before {
	content: "\e603";
}
.icon-delegacao:before {
	content: "\e604";
}
.icon-sepa:before {
	content: "\e605";
}
.icon-oficina:before {
	content: "\e606";
}
.icon-desfile:before {
	content: "\e607";
}
.icon-noturno:before {
	content: "\e608";
}
.icon-bazar:before {
	content: "\e609";
}
.icon-delegacao-alt:before {
	content: "\e60a";
}
.icon-registro:before {
	content: "\e60b";
}
.icon-simbolo:before {
	content: "\e601";
}
.icon-relicario:before {
	content: "\e600";
}
.icon-arrow-right:before {
	content: "\e60c";
}