#menu {
    a {
        line-height: 0;
        margin: 2em 0;
        padding: 0.5em;
        position: absolute;
        right: 5%;
        top: 2em;
        line-height: 1;
        margin: 0;
        background: $main-color;  
    }
    i {
        font-size: 1.5em;
        color: white;
    }
}

.sidr-open #menu {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
    z-index: 99;
}

.sidr {
    display: none;
    position: absolute;
    position: fixed;
    top: 0;
    height: 100%;
    z-index: 999999;
    width: 260px;
    overflow-x: none;
    overflow-y: auto;
    background: $main-color;
    box-shadow: inset 10px 0px 5px -5px darken($main-color, 4%);
    .sidr-inner {
        padding: 0;
    }
    ul {
        padding: 0;
        margin: 0;
        li {
            border-bottom: 1px solid lighten($main-color, 10%);
            a {
                padding: 1em;
                display: block;
                text-decoration: none;
                color: rgba(255,255,255,.9);
                transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
                i {
                    margin-right: 5px;
                }
            }
        }
    }
}

.sidr.right {
    left: auto;
    right: -260px;
}

.sidr ul li a:hover, .current-menu-item, .current-menu-item a {
    color: white!important;
	background-color: lighten($main-color, 5%);
}