/*
	Theme Name: Relicario Theme
	Theme URI: http://www.relicar.io
	Description: Relicario - R Design by Thiago Duarte, based on Gridly theme.
	Author: Thiago Duarte
	Author URI: http://www.thiago.in/
	Version: 0.1
	
	License: The MIT License (MIT)
	License URI: http://opensource.org/licenses/MIT
*/

@import 'functions';
@import 'variables';
@import 'reset';
@import 'menu';

body {
	color: $font-color;
	background: #eee;
	line-height: $line-height;
	font: $base-font-size $font-body;
}

#wrap {
	max-width: 90%; /* 960 px */
	margin: 0 auto;
}
#container {
	width: 103.125%; /* 990px */
	overflow: hidden;
	margin-bottom: -1.875em; /* 30px */
}

.type-post {
	width: 31.6%;
	margin: 0.5%;
	float: left;
	display: inline;
	position: relative;
}

img {
	max-width: 100%;
	height: auto;
}


h1 {
	font-size: em(36px);
}
h2 {
	font-size: em(20px);
}
h3, h4 {
	font-size: em(15px);
}
h5, h6 {
	font-size: em(13px);
}
p {
	font-size:em(13px);
	line-height:1.85em;
	margin-bottom:8px;
}

ol {
	padding: 0px;
	margin: 0;
	margin-left: 25px;
	margin-top: 10px;
	li {
		color: #858585;
		padding-left: 10px;
		list-style-type: decimal;
	}
}

hr {
	background: url(images/hr.jpg) top center no-repeat;
	border: 0;
	outline: 0;
	clear: both;
	height: 10px;
}
	
/* link styles */	
a:link, a:visited, a:active,a:hover {
	color: desaturate($green, 40%);
	text-decoration: none;
}

a:hover {
	color: darken($green, 15%);
}

a:focus {
	outline-style: none;
}  	
	
header {
	width: 100%;
	background: white;
	margin-bottom: 20px;
	z-index: 1;
}

header:before,
header:after {
    content:"";
    display:table;
}
header:after {
    clear:both;
}

#logo {
	max-width: 100%;
	display: inline-block;
	position: relative;
	float: left;
	max-height: 87px;
	margin: 20px 0;
	a {
		display: block;
	}
	object {
		pointer-events: none;
		position: relative;
		max-width: 100%;
	}
}

nav {
	border-bottom: none;
	z-index: 2;
	float:right;
	border-radius: 5px 5px 0 0;
}
#social {
	float: right;
	overflow: hidden;
	margin-top: -150px;
	width: 210px;
	ul {
		position: absolute;
		li {
			float: left;
			display: inline;
			opacity: .5;
			&:hover {
			opacity: .7;
			}
		}
	}
}
		

footer {
	border-top: 1px solid rgba(0,0,0,.1);
	background: $orange;
	overflow: hidden;
	margin-top: 100px;
}

#footer-area {
	width: 100%;
	display: inline;
	float: left;
	padding-top: 10px;
	margin-top: 20px;
	clear: both;
	.widget {
		width: 310px;
		margin-right: 10px;
		padding-top: 15px;
		display: inline;
		float: left;
		font-size: 12px;
		color: white;
		line-height: 18px;
		font-family: 'Helvetica',Arial, Helvetica, sans-serif;
		h3 {
			color: white;
		}
		p {
			color: white;
		}
		ul {
			margin-left: 0px;
		}
		li {
			color: white;
		}
		a {
			color: rgba(255,255,255,0.6);
			margin-bottom: 0;
			&:hover {
				color: white;
				border-bottom: 1px dotted white;
			}
		}
	}
	.widget-copy {
		width: 280px;
		overflow: hidden;
		display: inline;
		float: left;
		margin-left: 10px;
	}
}

#copyright {
	clear: both;
	width: 100%;
	background: rgba(0,0,0,0.1);
	display: inline;
	float: left;
	margin-top: 20px;
	p {
		line-height: 70px;
		color: white;
		font-size: 12px;
	}
	a {
		color: rgba(255,255,255,0.6);
		text-decoration: none;
		&:hover {
			color: white;
			border-bottom: 1px dotted white;
		}
	}
}

.type-page, .type-attachment {
	width: 770px;
	background: #FFF;
	border-right: 1px solid #dbdbdb;
	border-bottom: 1px solid #dbdbdb;
	margin-right: 10px;
	margin-top: 15px;
	display: inline;
	float: left;
}

div.grid {
	background: black;
	overflow: hidden;
	z-index: 5;
	img {
		border-radius: 4px;
		-webkit-filter: blur(2px);
		transition: all 500ms ease-in-out;
		&:hover {
			-webkit-filter: blur(0px);  
		}
	}
}

a.grid {
	font-weight: 700;
	margin: 1em;
	font-size: 1.5em;
	line-height: 1.5em;
	text-shadow: 1px 1px 5px rgba(0,0,0,0.5);
	position: absolute;
	top:0;
	left: 0;
	width: 87%;
	overflow: hidden;
	color: white;
}

.size-full {
	width: 100%;
	height: inherit;
}

.comments-area {
	ol {
		list-style: none;
		margin: 0;
		padding: 0;
		border-bottom: 1px solid #8e8e8e;
	}
	li {
		list-style: none;
		margin: 0;
		padding: 0;
		border-top: 1px solid #8e8e8e;
		width: 100%;
		clear: both;
		display: inline;
		float: left;
		margin-bottom: 10px;
		padding: 10px;
	}
}

.avatar, .reply, .comment-meta {
	display: none;
}

.comment-author {
	font-size: 16px;
	font-weight: bold;
	font-family: 'Droid Sans', sans-serif;
}

#comment-form {
	width: 50%;
}

.text-input, .comment-input {
	clear: both;
	border: 1px solid #8e8e8e;
	margin-bottom: 5px;
	width: 90%;
	padding: 7px;
	font-family: Arial, Helvetica, sans-serif;
	color: #555;
	font-size: 12px;
}

.comment-submit {
	clear: both;
	width: 120px;
	height: 30px;
	line-height: 25px;
	background: #e5e5e5;
	border: 1px solid #8e8e8e;
}

.clear {
	clear: both;
}

.aligncenter {
	display: block;
	margin: 0 auto;
}

.alignleft {
	float: left;
	margin-right: 20px;
	margin-top: 20px;
	margin-bottom: 10px;
}

.alignright {
	float: right;
	margin: 0 0 20px 20px;
}

.wp-caption {
	text-align: left;
	margin-top: 5px;
	margin-bottom: 5px;
}

.wp-caption-text {
	margin-top: 2px;
	text-align: left;
	font-style: italic;
	font-size: 11px;
	color: #999;
}

blockquote {
	font-size: 2em;
	line-height: 23px;
	color: #000;
	margin-left: 20px;
	border-left: 1px dotted #999;
	padding-left: 25px;
	margin-top: 15px;
	margin-bottom: 15px;
}

/*=====================================
=            Media Queries            =
=====================================*/

@media #{$large-size} {
	.type-post {
		width: 23.3%;
		float: left;
		margin: 0.5%;
	}
}
@media #{$default-size} {
	.type-post {
	width: 47.3%;
	float: left;
	margin: 0 0.7% 0.5em;
	}
}

@media #{$small-size} {

	#wrap {
		width: 310px;
		margin-left: auto;
		margin-right: auto;
		overflow: hidden;
	}

	.type-post {
		width: 100%;
		margin: 0 0 1em;
	}

	#comment-form {
		width: 285px;
	}

}