// Typography
$font-body: Lato, sans-serif;
$font-heading: Inika, sans-serif;

//Sizes
$base-font-size: 16px;
$line-height: 30px;

// Colors
$font-color: #454545;

// Logo Colors
$orange: rgb(236,102,28);
$green: rgb(162,221,0);
$blue: rgb(0,138,207);


// Font Face Imports

@font-face {
  font-family: 'Inika';
  font-style: normal;
  font-weight: 700;
  src: local('Inika Bold'), local('Inika-Bold'), url(http://themes.googleusercontent.com/static/fonts/inika/v1/yVCO3macxFLQ-WV7uEKF1nYhjbSpvc47ee6xR_80Hnw.woff) format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(http://themes.googleusercontent.com/static/fonts/lato/v6/qIIYRU-oROkIk8vfvxw6QvesZW2xOQ-xsNqO47m55DA.woff) format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url(http://themes.googleusercontent.com/static/fonts/lato/v6/qdgUG4U09HnJwhYI-uK18wLUuEpTyoUstqEm5AMlJo4.woff) format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  src: local('Lato Italic'), local('Lato-Italic'), url(http://themes.googleusercontent.com/static/fonts/lato/v6/RYyZNoeFgb0l7W3Vu1aSWOvvDin1pK8aKteLpeZ5c0A.woff) format('woff');
}

// Media Queries
$small-size: "only screen and (max-width: 480px)";
$large-size: "only screen and (min-width : 1224px)";
$default-size: "only screen and (max-width : 768px)";